/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

.sell-my-rolex a{ 
    font-weight: bold;
    text-transform: uppercase;
}



.search-btn{
    width: auto;
}

.compare-watches a{
    color: black;
    font-weight: bold;
    font-size: medium;
}

.filter-nav{
    width: 100%;
}
section .side-bar{
    width: 250px;
    height: auto;
}

.rolex-video{
    width: 500px;
    height: 500px;
}