body {
    font-family: 'Montserrat', sans-serif;
}

header#header .header-inner,
#topbar {
    background-color: #000;
    color: #fff;
    border: none
}

#topbar a,
#topbar .top-menu>li>a {
    color: #fff;
}

#topbar .top-menu>li>a {
    font-size: 14px;
}

#logo img {
    width: 200px
}

.video-slider {
    position: relative;
}

.video-slider:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #000 0, rgba(0, 0, 0, .5) 33%, rgba(0, 0, 0, 0) 100%);
}

#mainMenu nav>ul>li>a {
    color: #fff;
}

.home-hero-content {
    position: absolute;
    z-index: 200;
    top: 15%;
    width: 100%;
}

.home-hero-content h2 {
    color: #fff;
}

.home-hero-content h3 {
    color: #fff;
    font-family: Montserrat, sans-serif;
}

#heroDownArrow {
    width: 38px;
    height: 41px;
    margin-top: 7rem;
    animation: moveUpDown 1.5s linear infinite;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

.home-hero-content h2 {
    color: #fff;
    font-size: 52px;
}

.home-hero-button {
    font-size: 16px;
    margin: 0 auto;
    display: inline-block;
    padding: 0.75em 1.5em;
    border-radius: 1px;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    color: #fff;
    box-sizing: border-box;
    margin: 1em 0 0;
    letter-spacing: 0.1em;
}

.home-hero-content strong {
    color: #fff;
}

.home-hero-button.button--ghost:hover {
    text-decoration: none;
    color: #fff !important;
    background: rgba(53, 53, 53, 1);
}

.video-slider video {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home-hero {
    height: 620px;
}

#heroDownArrow {
    margin-top: 10rem;
}

.brands-bar {
    padding: .33rem 0;
    margin: 0;
    position: relative;
    z-index: 998;
    margin: auto;
}

.center {
    text-align: center;
}

.brands-content ul li a {
    margin-right: .5rem;
}

.brands-content ul li {
    padding: 5px;
}

#contentwrapper ul li {
    font-size: 16px;
    line-height: 1.3em;
    color: #555555;
}

.brands-content ul li a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #000;
    padding: .66rem 2rem;
    white-space: nowrap;
    font-weight: 700;
    display: block;
}

.brands-content {
    padding: 10px 0;
}

.brands-content ul {
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly; */
    align-items: center;
    list-style-type: none;
}

.search-container .search-inner .topsearchinput {
    background: #fff url(images/Search.png) no-repeat left center;
    padding: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    width: 50%;
    max-width: 525px;
    min-width: 350px;
    background-size: 40px;
    padding-left: 60px;
    padding-right: 175px;
}

.topsearchinput {
    padding: 5px;
    border: 1px solid #e6e6e6;
    background: #fff url(/images/search-magnify.png?v=1) no-repeat right center;
    padding-right: 13px;
    font-size: 11px;
    width: 120px;
    margin-right: 5px;
    height: auto;
}

.topsearchsubmit {
    background-color: #000;
    border: none;
    padding: .5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    text-align: center;
    width: 160px;
    margin-left: -175px;
}

.siteWidth {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
}

.search-wrapper {
    z-index: 500;
    background: #ddd;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}

.brands-bar {
    margin: 0 20px;
}

.search-container .search-inner .topsearchinput {
    background: #fff url(images/Search.png) no-repeat left center;
    padding: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    width: 50%;
    max-width: 525px;
    min-width: 350px;
    background-size: 40px;
    padding-left: 60px;
    padding-right: 175px;
}

.search {
    padding: 3px 15px;
    max-width: 500px;
    margin: auto;
    background: url(images/Search.png) no-repeat #fff 7px;
    background-size: 40px;
    padding-right: 0;
}

.search-wrapper .search .text {
    line-height: 18px;
    padding: 17px 16px;
    min-height: 40px;
    font-size: .9rem;
    width: 340px;
    font-size: 17px !important;
}

.search input {
    background: none;
    border: none;
    outline: 0;
    margin: 0 0 0 10px;
    font-size: 20px;
}

.play {
    font-size: 60px;
}

.submit {
    background-color: #000;
    border: none;
    padding: .5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    text-align: center;
    width: 160px;
    font-weight: bold;
    padding: 21px 28px;
    margin-right: -18px;
    position: relative;
    top: -2px;
}

.new-arrivals .item img {
    width: 100%;
}

@media only screen and (max-width: 760px) {
    .new-arrivals .item img {
        max-width: 260px;
    }
    .watch-list {
        padding-top: 20px;
        text-align: center;
    }
}

section {
    padding: 50px 0;
}

.brands-bar {
    padding: 0;
}

.new-arrivals {
    padding: 70px 0;
}

.brand-section {
    padding: 0 0 10px 0;
    background: #ddd;
    text-align: center;
}

.new-arrivals p,
.new-arrivals h2 {
    text-align: center;
}

.new-arrivals h2 {
    margin-bottom: 0;
    font-size: 20px;
}

.new-arrivals .new-arrivals h2 {
    padding: 20px 0;
}

.new-arrivals p {
    color: #000
}

.watch-list {
    padding-top: 20px;
    text-align: center;
}

.watch-list h2 {
    padding: 15px 0;
}

section.center {
    text-align: center !important;
}

.watches-section {
    background: #dbdbdb url(images/about-img-1.jpg) no-repeat center center;
    min-height: 600px;
    background-size: cover;
    text-align: center;
    position: relative;
}

.btn-set {
    padding: 30px 0 0 0;
    text-align: center;
}

section .btn-set .new-arrival-btn {
    padding: 18px 36px !important;
    font-size: 16px !important;
    background: #ee3838 !important;
    border: none !important;
}

.body section h2 {
    font-size: 30px;
}

section.watch-list h2 {
    font-size: 18px;
}

.shopall {
    padding: 50px 0 0 0;
}

.shopall h2 {
    margin-bottom: 20px;
}

.shopall ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.shopall li {
    text-align: left;
    font-family: Montserrat, sans-serif;
}

.shopall li a {
    margin: 8px 0;
    display: block;
    padding: 5px 8px;
    ;
    color: #000;
    font-size: 14px;
    white-space: nowrap;
}

.pl-xl-5,
.px-xl-5 {
    padding-left: 3rem !important;
}

.home-article {
    position: relative;
    margin: 0 19px;
    position: relative;
    width: 29%;
    height: 207px;
    display: inline-block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* border-radius: 5px; */
    box-shadow: 3px 3px 8px -1px rgb(0 0 0 / 20%);
}

.body section .watch-list h2 {
    font-size: 18px
}

.home-article-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .60);
    text-align: left;
    font-size: 14px;
    color: #FFF;
    padding: 11px 17px 7px;
    line-height: 17px;
    min-height: 4em;
    box-sizing: border-box;
    /* border-radius: 0px 0px 5px 5px; */
}

.blog-section {
    background: #f5f5f5;
}

.blog-section h2 {
    text-align: center
}

.svg-list ul {
    list-style: none;
    display: flex;
}

.svg-list ul li {
    margin: 0 20px;
}

.slick-track {
    display: flex !important;
    align-items: center;
}

.contact-form-section {
    background-image: url("images/footer-backg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contact-form-section img {
    max-width: 100%;
}

.footer-banner .banner-title h2 {
    color: white;
}

.footer-banner .banner-tagline span {
    color: gray;
}

.footer-banner .banner-tagline {
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer-banner .banner-tb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-banner .banner-tb .banner-text {
    color: gray;
    font-size: smaller;
    border: white solid 1px;
    width: 200px;
    height: 20px;
}

.footer-banner .banner-tb .banner-btn {
    color: white;
    font-size: smaller;
    width: 100px;
    height: 20px;
    background-color: black;
    border: white solid 1px;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px;
}


/* .contact-form-section {
    background: #000;
    
} */

.logo-footer {
    filter: grayscale();
    /* Same as grayscale(1) */
}

.rolex-categories {
    background-color: red;
}

.tags ul.flex-row {
    flex-wrap: wrap;
    justify-content: center
}

.tags ul.flex-row li {
    margin: 3px;
}

.tag-section {
    padding-bottom: 15px;
}

.search-bar {
    background: #fff;
    padding: 5px 10px;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: relative;
}

.search-bar input.text {
    border: none;
    outline: 0;
    padding-right: 35px
}

.search-bar label {
    font-weight: bold;
}

.search-bar .btn.search-btn {
    background: url(images/search.svg) no-repeat;
    border: none;
    margin: 5px 0 0 0;
    position: absolute;
    right: 0;
    top: 2px;
}

.tags ul.flex-row li:hover a {
    background: #dc4941
}

.filter-nav h6 {
    font-size: 20px;
}

.filter-nav .form-check {
    margin: 0 0 15px 0;
}

a:not(.btn):not(.badge):hover,
a:not(.btn):not(.badge):focus,
a:not(.btn):not(.badge):active {
    color: #dc4941;
    border-color: #dc4941;
}

.search-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 80%;
}

.search-group ul li {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search-group ul li .per-page {
    width: 70px !important;
}

.search-group ul li .sort-by {
    width: 100px !important;
}

.search-group ul label {
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar {
    background: url(images/search.svg) no-repeat;
}

.search-bar {
    background: #fff;
    /* border:# */
}

.product-main .item {
    margin-bottom: 30px;
}

.product-main .product-btn-buy label {
    font-weight: bold;
    color: #dc4941
}

.product-main .product-btn-sell label {
    font-weight: bold;
}

.product-main .item h2 {
    margin-bottom: 8px;
}

.product-main .item img {
    width: 105px;
    height: 180px;
    object-fit: contain;
}

.side-bar {
    margin: 0 40px 0 0;
    position: relative;
    float: left;
}

.product-main .item h2 a {
    color: #000;
    font-size: 20px;
    padding: 15px 0;
    line-height: 24px;
    color: #000;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
}

.product-btn-buy,
.product-btn-sell {
    margin: 0 5px;
}

.product-btn-sell input,
.product-btn-buy input {
    background: #373737;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: bold
}

.product-btn-sell input {
    background: #dc4941
}

@media only screen and (max-width: 964px) {
    #search-group li {
        padding: 10px;
    }
    #search-group ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .search-group ul li .per-page {
        width: auto !important;
    }
    .search-group ul li .sort-by {
        width: auto !important;
    }
    .side-bar {
        margin: 0 0 0 0 !important;
        height: 0px !important;
        width: 0px !important;
        visibility: hidden;
    }
    .product-component .productlist {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 750px) {
    #search-group li {
        padding: 10px;
    }
    #search-group ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .search-group ul li .per-page {
        width: 75% !important;
    }
    .search-group ul li .sort-by {
        width: 75% !important;
        margin-left: 10px;
    }
    .side-bar {
        margin: 0 0 0 0 !important;
        height: 0px !important;
        width: 0px !important;
        visibility: hidden;
    }
    .product-component .productlist {
        margin-left: 0%;
    }
    .watch-list {
        padding-top: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 300px) {
    #search-group li {
        padding: 10px;
    }
    #search-group ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .search-group ul li .per-page {
        width: 50% !important;
    }
    .search-group ul li .sort-by {
        width: 50% !important;
        margin-left: 10px;
    }
    .side-bar {
        margin: 0 0 0 0 !important;
        height: 0px !important;
        width: 0px !important;
        visibility: hidden;
    }
    .product-component .productlist {
        margin-left: 0%;
    }
    .watch-list {
        padding-top: 20px;
        text-align: center;
    }
}

@media only screen and (min-width: 964px) {
    .more-filter .more-filter-btn {
        visibility: hidden;
    }
}

.text-content hr {
    width: 25%;
    height: 1px;
    color: gray;
}

.search-group ul li label {
    font-weight: 100px;
}

.product-component .productlist {
    margin-left: 25%;
}

.more-filter input {
    width: 100%;
    height: 100%;
    background-color: #dc4941;
    padding-bottom: 20px;
    cursor: pointer;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress .progress-bar {
    width: 100px;
}


/* cart page */

.tiny-images {
    padding-bottom: 20px;
}

.tiny-images .product-additional-image a {
    padding: 40px 8px 20px 8px;
}

.product-image {
    text-align: center;
    padding-bottom: 20px;
}

.product-image img {
    width: 200px;
    height: 200px;
}

.product-additional-image {
    text-align: center;
}

.tiny-images {
    display: flex;
    flex-direction: column;
}

.table-detail .people-viewing {
    color: #b0c11d;
    font-size: smaller;
    margin: 10px 10px;
}

.table-detail .price,
.pricecontainer {
    text-align: center;
}

.table-detail .product-headline {
    padding-top: 20px;
}

.table-detail .product-headline,
.people-viewing,
.product-certified-authentic {
    text-align: center;
}

.table-detail .pricecontainer input {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 300px;
    padding: 15px 0;
    font-size: x-large;
}

.table-detail .product-certified-authentic p {
    color: black;
    margin: 0px 0px 16px;
    font-size: large;
}

.tiny-images .product-saleswatch {
    text-align: center;
}

.product-saleswatch a {
    margin-left: 10px;
}

.image-expand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-expand img {
    width: 200px;
    height: 200px;
}

.image-expand span {
    color: gray;
    font-size: smaller;
}

.slider ul {
    list-style-type: none;
    text-align: center;
}

.slider img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider ul a {
    text-decoration: none;
}

.total-average {
    color: orange;
}

.write-review-btn input {
    background-color: white;
    border: black solid 1px;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    padding: 10px 10px;
    margin: 10px 10px;
}

.customer-review i {
    color: orange;
}

.average-star {
    color: orange;
}

.google-customer-review .rate .average-star i {
    color: orange;
}

.breadcrumb ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-title {
    position: relative;
    font-size: 19px
}

.testimonial-title span {
    background: #fff;
    z-index: 1;
    position: relative;
    padding: 0 5px 0 0;
    font-size: 20px;
}

.testimonial-title:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 23px;
    height: 1px;
    left: 0;
    background: black;
}

.product-reviews-title {
    position: relative;
    font-size: 19px
}

.product-reviews-title span {
    background: #fff;
    z-index: 1;
    position: relative;
    padding: 0 5px 0 0;
    font-size: 20px;
}

.product-reviews-title:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 23px;
    height: 1px;
    left: 0;
    background: black;
}

@media only screen and (min-width: 616px) {
    .tiny-images .product-headline {
        text-align: left;
    }
    .image-expand {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
    .table-detail .image-light-box {
        width: 200px;
        height: 200px;
        position: absolute;
        margin-left: 380px;
        margin-top: 0px;
        visibility: hidden;
    }
}

@media only screen and (min-width: 796px) {
    .product-image img {
        width: 50%;
        height: 50%;
        position: sticky;
        top: 0;
    }
    .tiny-images .product-additional-image img {
        margin: 5px;
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 50px;
        border: gray 1px solid;
    }
    .product-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
    }
    .product-image {
        padding-right: 0;
        order: 2;
    }
    .product-additional-image {
        padding-right: 0;
        order: 1;
    }
    .table-detail .pricecontainer input {
        background-color: black;
        color: white;
        font-weight: bold;
        width: 250px;
        padding: 15px 0;
        font-size: x-large;
    }
    .pre-own h2 {
        font-size: small;
    }
    .table-detail .image-light-box {
        width: 200px;
        height: 200px;
        position: absolute;
        margin-left: 380px;
        margin-top: 0px;
        visibility: hidden;
    }
    .table-detail .product-headline,
    .people-viewing,
    .price,
    .pricecontainer {
        text-align: left;
    }
}

@media only screen and (min-width: 992px) {
    .product-image img {
        width: 60%;
        height: 80%;
        position: sticky;
        top: 0;
    }
    .tiny-images .product-additional-image img {
        margin: 5px;
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 50px;
        border: gray 1px solid;
    }
    .product-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
    }
    .product-image {
        padding-right: 0;
        order: 2;
    }
    .product-additional-image {
        padding-right: 0;
        order: 1;
    }
    .table-detail .pricecontainer input {
        background-color: black;
        color: white;
        font-weight: bold;
        width: 250px;
        padding: 15px 0;
        font-size: x-large;
    }
    .pre-own h2 {
        font-size: small;
    }
    .table-detail .price,
    .pricecontainer {
        text-align: left;
    }
    .table-detail .product-certified-authentic p {
        color: black;
        margin: 0px 0px 16px;
        font-size: large;
        text-align: left;
    }
    .breadcrumb {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .breadcrumb ul a {
        font-size: smaller;
    }
    .image-expand {
        visibility: hide;
        position: absolute;
    }
    .table-detail .product-headline,
    .people-viewing,
    .price,
    .pricecontainer {
        text-align: left;
    }
}

.table-detail .image-light-box {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 380px;
    margin-top: 0px;
    visibility: hidden;
}

.star-rate {
    text-align: center;
}

.rate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rate .rate-bar {
    width: 50%;
}


/* check out page */

.your-cart .cart-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.your-cart .cart-heading i {
    padding-right: 5px;
}

.your-cart .cart-heading a {
    color: black;
}

.your-cart .cart-heading a:hover {
    color: green;
}

.product-table .shopping-cart-row .shopping-cart-items-info img {
    width: 200px;
    height: 200px;
    /* object-fit: contain; */
}


/* .product-table .shopping-cart-item-header .shopping-cart-info {
width: 30%;
}

.product-table .shopping-cart-item-header .shopping-cart-qty {
width: 20%;
}

.product-table .shopping-cart-item-header .shopping-cart-each {
width: 20%;
}

.product-table .shopping-cart-item-header .shopping-cart-total {
width: 20%;
}

.product-table .shopping-cart-item-header .shopping-cart-button {
width: 10%;
} */

table {
    width: 100%;
    display: block;
}

table tr td {
    display: block;
    width: 100%;
}

table tr td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table tr th {
    visibility: hidden;
}

.product-table .shopping-cart-row .shopping-cart-items-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 3px;
    background-color: #FFFFFF;
    width: 350px;
}

.product-table .shopping-cart-row .shopping-cart-items-info span {
    font-size: medium;
    text-align: center;
}

.product-table .shopping-cart-row .shopping-cart-items-qty {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.product-table .shopping-cart-row .shopping-cart-items-qty span {
    font-weight: bolder;
    font-size: large;
}

.product-table .shopping-cart-row .shopping-cart-items-each .each-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-table .shopping-cart-row .shopping-cart-items-each .cell-2 input {
    width: 40px;
    height: 40px;
    font-weight: bolder;
    border: gray 1px solid;
    background-color: #e3e3e3;
    border-radius: 10%;
}

.product-table .shopping-cart-row .shopping-cart-items-each .cell-2 span {
    font-weight: bold;
    font-size: medium;
    color: gray;
}

.product-table .shopping-cart-row .shopping-cart-items-each .cell-1 {
    font-weight: bold;
    font-size: medium;
    color: gray;
}

.product-table .shopping-cart-row .shopping-cart-items-each .cell-1 span a {
    font-weight: bold;
    font-size: medium;
    color: gray;
}

.product-table .shopping-cart-row .shopping-cart-items-each .cell-1 span a:hover {
    font-weight: bold;
    font-size: medium;
    color: red;
}

.product-table .shopping-cart-row .shopping-cart-items-each .add-certification-btn {
    text-align: center;
    margin: 5px 5px;
}

.product-table .shopping-cart-row .shopping-cart-items-each .add-certification-btn input {
    font-weight: bold;
    background-color: white;
    border: gray 1px solid;
    background-color: #e3e3e3;
    border-radius: 10%;
}

.product-table .shopping-cart-row .shopping-cart-items-total {
    display: flex;
    text-align: start;
    justify-content: flex-start;
    width: 100%;
}

.product-table .shopping-cart-row .shopping-cart-items-button input {
    visibility: hidden;
    width: 20%;
}

.product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    width: 100%;
    height: 80px;
    border-top: rgb(192, 192, 192) 2px solid;
    border-bottom: rgb(192, 192, 192) 3px solid;
}

.product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell .cell-1 {
    font-weight: bolder;
    font-size: large;
    padding-left: 10px;
}

.product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell .cell-2 {
    font-weight: bolder;
    font-size: large;
    padding-right: 10px;
}

.checkout-buttons .paypal-btn {
    text-align: center;
    padding-top: 15px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(180deg, rgb(250, 250, 114), rgb(240, 190, 98));
    font-weight: bolder;
    margin-bottom: 5px;
}

.checkout-buttons .paypal-btn a {
    color: black;
}

.checkout-buttons .paypal-btn i {
    color: blue;
    font-size: large;
    padding-left: 5px;
}

.checkout-buttons .amazon-btn {
    text-align: center;
    padding-top: 15px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(180deg, rgb(250, 250, 114), rgb(240, 190, 98));
    font-weight: bolder;
}

.checkout-buttons .amazon-btn a {
    color: black;
}

.checkout-buttons .amazon-btn i {
    color: gray;
    font-size: large;
    padding-right: 5px;
}

.checkout-or {
    position: relative;
    text-align: center;
    padding: 10px 10px;
    color: gray;
}

.checkout-or span {
    background: white;
    font-size: 10px;
    z-index: 1;
    position: relative;
    padding: 0 5px 0 0;
    font-size: 20px;
}

.checkout-or:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 23px;
    height: 1px;
    left: 0;
    background: gray;
}

.verify {
    text-align: center;
    background-color: gray;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    margin-top: 10px;
    border-radius: 5%;
}

.verify a {
    color: white;
    font-weight: bold;
    font-size: large;
}

@media screen and (min-width: 400px) {
    .product-table .shopping-cart-item-header .shopping-cart-info {
        width: 30%;
        text-align: center;
    }
    .product-table .shopping-cart-item-header .shopping-cart-qty {
        width: 15%;
        text-align: center;
    }
    .product-table .shopping-cart-item-header .shopping-cart-each {
        width: 25%;
        text-align: center;
    }
    .product-table .shopping-cart-item-header .shopping-cart-total {
        width: 15%;
        text-align: center;
    }
    .product-table .shopping-cart-item-header .shopping-cart-button {
        width: 15%;
        text-align: center;
    }
    table tr {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: center;
    }
    table tr th {
        visibility: visible;
    }
    table .shopping-cart-row {
        height: 200px;
        display: flex;
        justify-content: space-evenly;
    }
    .product-table .shopping-cart-row .shopping-cart-items-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100%;
        order: 1;
    }
    .product-table .shopping-cart-row .shopping-cart-items-info .cart-image {
        width: 60%;
        height: 60%;
        text-align: center;
        width: 60%
    }
    .product-table .shopping-cart-row .shopping-cart-items-info .cart-image img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%
    }
    .product-tabel .shopping-cart-row .shopping-cart-items-info .info {
        display: flex;
        flex-direction: column;
        align-items: flext-start;
        justify-content: space-evenly;
    }
    .product-table .shopping-cart-row .shopping-cart-items-info .info span,
    p {
        font-size: smaller;
        font-weight: bold;
    }
    .product-table .shopping-cart-row .shopping-cart-items-qty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 15%;
        order: 2;
    }
    .product-table .shopping-cart-row .shopping-cart-items-qty span {
        font-size: smaller;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25%;
        height: 100%;
        order: 3;
        padding: 10px;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell .cell-1 {
        order: 2;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell .cell-1 span {
        text-align: left;
        font-size: small;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell .cell-2 {
        order: 1;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell .cell-2 input {
        width: 100%;
        text-align: center;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .add-certification-btn input {
        width: 100%;
        height: 50px;
        font-size: 9px;
        text-align: center;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each i {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .cell-2 span {
        visibility: hidden;
        order: 2;
        width: 0%;
        height: 0%;
    }
    .product-table .shopping-cart-row .shopping-cart-items-total {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 100%;
        order: 4;
    }
    .product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell .cell-2 span {
        font-size: smaller;
        order: 1;
        margin-bottom: 10px;
    }
    .product-table .shopping-cart-row .shopping-cart-items-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 15%;
        order: 5;
    }
    .product-table .shopping-cart-row .shopping-cart-items-info span {
        font-size: medium;
    }
    /* last */
    .product-table .shopping-cart-row .shopping-cart-items-button input {
        visibility: visible;
        width: 100%;
        background-color: #7ee456;
        color: black;
        border: 1px solid gray;
        border-radius: 10%;
        font-weight: bold;
    }
    .product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
        border-top: none;
        border-bottom: none;
    }
    .product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell .cell-1 {
        visibility: hidden;
        width: 0%;
        height: 0%;
        padding: 0;
        margin: 0;
    }
    .checkout-title {
        visibility: hidden;
        width: 0%;
        height: 0%;
        padding: 0;
        margin: 0;
    }
    .checkout-buttons {
        visibility: hidden;
        width: 0%;
        height: 0%;
        padding: 0;
        margin: 0;
    }
    .account-login {
        visibility: hidden;
        width: 0%;
        height: 0%;
        padding: 0;
        margin: 0;
    }
    .left .subtotal-btn input {
        width: 100%;
        height: 60px;
        background-color: #7ee456;
        color: white;
        border: 1px solid gray;
        border-radius: 10%;
        font-size: large;
        font-weight: bold;
    }
    .left .subtotal-method {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .right {
        visibility: hidden;
    }
    .left .account-login {
        visibility: hidden;
    }
    .left .payment-heading h2,
    p {
        visibility: hidden;
    }
    .left select {
        visibility: hidden;
    }
    .left .verify {
        visibility: hidden;
    }
}

@media screen and (min-width: 700px) {
    .product-table .shopping-cart-item-header .shopping-cart-info {
        width: 40%;
        text-align: center;
    }
    .product-table .shopping-cart-item-header .shopping-cart-qty {
        width: 15%;
        text-align: center;
    }
    .product-table .shopping-cart-item-header .shopping-cart-each {
        width: 15%;
        text-align: center;
    }
    .product-table .shopping-cart-item-header .shopping-cart-total {
        width: 15%;
        text-align: center;
    }
    .product-table .shopping-cart-item-header .shopping-cart-button {
        width: 15%;
        text-align: center;
    }
    table tr {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: center;
    }
    table tr th {
        visibility: visible;
    }
    table .shopping-cart-row {
        height: 300px;
        display: flex;
        justify-content: space-evenly;
    }
    .product-table .shopping-cart-row .shopping-cart-items-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 100%;
        order: 1;
    }
    .product-table .shopping-cart-row .shopping-cart-items-info .cart-image {
        width: 60%;
        height: 60%;
        text-align: center;
        width: 60%
    }
    .product-table .shopping-cart-row .shopping-cart-items-info .cart-image img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%
    }
    .product-table .shopping-cart-row .shopping-cart-items-info .info span,
    p {
        font-size: smaller;
        font-weight: bold;
    }
    .product-table .shopping-cart-row .shopping-cart-items-qty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 15%;
        order: 2;
    }
    .product-table .shopping-cart-row .shopping-cart-items-qty span {
        font-size: smaller;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        height: 100%;
        order: 3;
        padding: 10px;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell .cell-1 {
        order: 2;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell .cell-1 span {
        text-align: left;
        font-size: small;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell .cell-2 {
        order: 1;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .each-cell .cell-2 input {
        width: 100%;
        text-align: center;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .add-certification-btn input {
        width: 100%;
        height: 50px;
        font-size: 9px;
        text-align: center;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each i {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }
    .product-table .shopping-cart-row .shopping-cart-items-each .cell-2 span {
        visibility: hidden;
        order: 2;
        width: 0%;
        height: 0%;
    }
    .product-table .shopping-cart-row .shopping-cart-items-total {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 100%;
        order: 4;
    }
    .product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell .cell-2 span {
        font-size: smaller;
        order: 1;
        margin-bottom: 10px;
    }
    .product-table .shopping-cart-row .shopping-cart-items-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 15%;
        order: 5;
    }
    .product-table .shopping-cart-row .shopping-cart-items-info span {
        font-size: medium;
    }
    /* last */
    .product-table .shopping-cart-row .shopping-cart-items-button input {
        visibility: visible;
        width: 100%;
        background-color: #7ee456;
        color: black;
        border: 1px solid gray;
        border-radius: 10%;
        font-weight: bold;
    }
    .product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .product-table .shopping-cart-row .shopping-cart-items-total .subtotal-cell .cell-1 {
        visibility: hidden;
        width: 0%;
        height: 0%;
        padding: 0;
        margin: 0;
    }
    .checkout-title {
        visibility: hidden;
        width: 0%;
        height: 0%;
        padding: 0;
        margin: 0;
    }
    .checkout-buttons {
        visibility: hidden;
        width: 0%;
        height: 0%;
        padding: 0;
        margin: 0;
    }
    .account-login {
        visibility: hidden;
        width: 0%;
        height: 0%;
        padding: 0;
        margin: 0;
    }
    .left .subtotal-btn input {
        width: 100%;
        height: 60px;
        background-color: #7ee456;
        color: white;
        border: 1px solid gray;
        border-radius: 10%;
        font-size: large;
        font-weight: bold;
    }
    .left .subtotal-method {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .right {
        visibility: hidden;
    }
    .left .account-login {
        visibility: hidden;
    }
    .left .payment-heading h2,
    p {
        visibility: hidden;
    }
    .left select {
        visibility: hidden;
    }
    .left .verify {
        visibility: hidden;
    }
}